[submodule "op-integration"]
	path = op-integration
	url = https://github.com/AnomalyFi/op-integration
[submodule "ansible-avalanche-getting-started"]
	path = ansible-avalanche-getting-started
	url = https://github.com/AnomalyFi/ansible-avalanche-getting-started
[submodule "nodekit-relay"]
	path = nodekit-relay
	url = https://github.com/AnomalyFi/nodekit-relay
